@using Mazzimo.Models
@model Cv
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Massimo Franciosa Cv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/Favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/Favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/Favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/Favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/Favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/Favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/Favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/Favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/Favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/Favicons/favicon-128.png" sizes="128x128" />

    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/Favicons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/Favicons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/Favicons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/Favicons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/Favicons/mstile-310x310.png" />

    <link href='http://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- Latest compiled and minified CSS -->
    @Styles.Render("~/Content/cssPdf")

    <STYLE TYPE="text/css">
        .tryNotbreak {
            page-break-inside: avoid;
        }
    </STYLE>

</head>

<body>


    <h1>MASSIMO FRANCIOSA</h1>

    <div class="contactBox">
        <div class="contact">
            <div class="contacticon">1</div>
            <div class="contactnumber">maxfranciosa@@hotmail.it</div>
        </div>

        <div class="contact">
            <div class="contacticon">a</div>
            <div class="contactnumber">@@mazzimo_f</div>
        </div>

        <div class="contact">
            <div class="contacticon">j</div>
            <div class="contactnumber">http://uk.linkedin.com/in/massimofranciosa/en</div>
        </div>

        <div class="contact">
            <div class="contacticon">Q</div>
            <div class="contactnumber">https://github.com/mazzimo</div>
        </div>
    </div>

    <section class="intro">
        @Model.Intro
    </section>

    <section class="skills">
        <h2>@Model.SkillsDesc</h2>
        @foreach (Skill skill in Model.Skills)
        {
            <div class="singleskill">
                @skill.Desc
            </div>
        }
    </section>
    <section class="workExperiences">
        <h2>@Model.WorkingExperienceDesc</h2>

        @foreach (WorkingExperience we in Model.WorkingExperience)
        {
            <div class="workExperience tryNotbreak">
                <div class="workExperienceName">@we.CompanyName - @we.RoleName</div>
                <a class="workExperienceUrl" target="_blank" href="@we.CompanyWebsite">(@we.CompanyWebsite)</a>
                <div class="workExperienceFrom">@we.DateStart.Value.ToString("MMM yyyy")</div>
                @if (we.DateEnd.HasValue)
                {
                    <div class="workExperienceTo"> - @we.DateEnd.Value.ToString("MMM yyyy")</div>
                }
                <div class="workExperienceDesc">
                    @we.Description
                </div>
                <div class="skills">
                    @foreach (Skill skill in we.Skills)
                    {
                        <div class="singleskill">
                            @skill.Desc
                        </div>
                    }
                </div>
            </div>
        }
    </section>
    <section class="personalProjects">
        <h2>@Model.SideProjectsDesc</h2>




        @for (int i = 0; i < Model.SideProjects.Count(); i++)
        {
            var sp = Model.SideProjects[i];
            <div class="workExperience tryNotbreak @(i == (Model.SideProjects.Count() - 1) ? "lastDiv" : "")">
                <div class="workExperienceName">@sp.Name - @sp.ProjectType</div>
                <a class="workExperienceUrl" target="_blank" href="@sp.Website">(@sp.Website)</a>
                <div class="workExperienceFrom">@sp.PeriodDescription</div>
                <div class="workExperienceDesc">
                    @sp.Description
                </div>
                <div class="skills">
                    @foreach (Skill skill in sp.Skills)
                    {
                        <div class="singleskill">
                            @skill.Desc
                        </div>
                    }
                </div>
            </div>
        }
    </section>

</body>
</html>