@using Mazzimo.Models
@model Post
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "";
    ViewBag.Intro = "";
    var totalUrl = String.Format("{0}{1}{2}{3}", Request.Url.Scheme, Uri.SchemeDelimiter, Request.Url.Authority, Request.Url.AbsolutePath);
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}

@section metatags {
    <link rel="image_src" type="image/jpeg" href="@(baseUrl)/Images/cvimage_400x400.png" />

    <meta name="description" content="@Model.Teaser" />

    <meta property="og:type" content="article" />
    <meta property="og:url" content="@totalUrl" />
    <meta property="og:title" content="Mazzimo." />
    <meta property="og:description" content="Personal website of Massimo Franciosa (aka Mazzimo Frascuorno), software engineer based in London." />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <meta property="og:image" content="@(baseUrl)/Images/cvimage_400x400.png" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@("@mazzimo_f")" />
    <meta property="twitter:title" content="Mazzimo." />
    <meta property="twitter:description" content="Personal website of Massimo Franciosa (aka Mazzimo Frascuorno), software engineer based in London." />
    <meta property="twitter:image" content="@(baseUrl)/Images/cvimage_400x400.png" />

    <meta property="og:site_name" content="Mazzimo" />

}
            <div class="col-lg-6 col-md-8 col-sm-8 singlecol">
                  <article>
                   <a href="/@Model.Code"><h1>@Model.Title</h1></a>
                   <p><i>@Model.PostDate.ToString("dd MMM yyyy")</i></p>
                  <div>
                      @Html.Raw(CommonMark.CommonMarkConverter.Convert(Model.Content).Replace("href=","target='_blank' href="))
                  </div>
                  </article>
                  @if(Model.NextPosts != null && Model.NextPosts.Count > 0)
                  {
                  <div>
                    <h1>Other Posts</h1>
                      @foreach (Post nextPost in Model.NextPosts)
                      { 
                        <div>
                           <a href="/@nextPost.Code">
                               <h2>
                                   @nextPost.Title
                               </h2>
                            </a>
                        </div>                    
                      }
                  </div>
                  }
              </div>